page-detail-employee {
    
    .dir{
        display: inline !important;
    }
    .bandRut{
        right: 19px;
        top: 232px;
        position: absolute;
        background-color: rgb(218, 62, 62);
        padding: 2px 3px;
        border-radius: 4px;
    }
    .bandFecha{
        right: 19px;
        top: 297px;
        position: absolute;
        background-color: rgb(218, 62, 62);
        padding: 2px 3px;
        border-radius: 4px;
    }
    .closeico{
        top: 2px;
        position: relative;
       

    }
    .nombre{
        background-color:  color($colors, primary2, base);
        color:  color($colors, light, base);
    }
    
}
